<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .hi{
            border: 2px solid blue;
            height: 50px;
            width: 300px;
            background-color: chartreuse;
        }
    </style>
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>Hi welecom to jursic park</p>
        <img src="/img/srk.jpg" alt="">
    </div>
     {{>footers}}
</body>
</html>